@import "./base/typography";
@import "./utilities/variables";
@import "./utilities/media_query";

@import "./pages/modules";
@import "./components/modules";

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: $primary-font;
	position: relative;
	width: 100%;
}

::selection {
	background-color: $secondary-color;
	color: $primary-color;
}

a {
	text-decoration: none;
	color: $dark-color;
}

button {
	cursor: pointer;
}

section {
	width: 100%;
	min-height: 100vh;
}
