.card {
	background-color: $light-color;
	padding: 20px;
	border-radius: 20px;

	.card-header {
		margin: 0 0 8px 0;

		.card-title {
			font-weight: 500;
			font-size: 1.2rem;
			margin: 5px 0;
		}
	}

	.card-body {
		// margin: 0;

		.card-text {
			margin: 0;
			font-weight: 400;
			font-size: 0.9rem;
		}
	}
}
