@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.text-primary {
  color: #2447f9;
}

.text-secondary {
  color: #fc7a46;
}

.text-warning {
  color: #ffc700;
}

.text-success {
  color: #22c58b;
}

.text-dark {
  color: #34364a;
}

.text-light {
  color: #ffffff;
}

.text-grey {
  color: #888888;
}

#landing_page {
  background-color: #f4f6fb;
  min-height: 100vh;
}

#landing_page section {
  padding: 5rem 0;
}

#landing_page .container {
  padding: 0.3rem 20px 0 20px;
}

@media only screen and (min-width: 992px) {
  #landing_page .container {
    padding: 0.3rem 60px 0 60px;
  }
}

#landing_page .header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#landing_page .header .left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

#landing_page .header .left .heading {
  font-size: 2.8rem;
  line-height: 4rem;
  color: #34364a;
  margin: 0;
  margin-top: 30px;
}

#landing_page .header .left .subheading {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 5%;
  color: #34364a;
  margin-bottom: 40px;
}

#landing_page .header .left .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

#landing_page .header .right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  position: relative;
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#landing_page .header .right img {
  margin: 20px auto;
  width: 90%;
  display: block;
}

@media only screen and (min-width: 768px) {
  #landing_page .header .left .auth {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  #landing_page .header .right img {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  #landing_page .header .right {
    display: block;
  }
}

#landing_page .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 120px;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#landing_page .cta img {
  width: 150px;
}

@media only screen and (min-width: 992px) {
  #landing_page .cta {
    -ms-flex-wrap: initial;
        flex-wrap: initial;
  }
}

#landing_page .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

#landing_page .category .left {
  display: none;
}

#landing_page .category .left img {
  width: 100%;
}

#landing_page .category .right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

#landing_page .category .right .category-title {
  font-size: 1.4rem;
  color: #34364a;
  margin-top: 0;
}

#landing_page .category .right .category-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

@media only screen and (min-width: 600px) {
  #landing_page .category .right .category-title {
    font-size: 2.1rem;
    color: #34364a;
    margin-top: 0;
  }
  #landing_page .category .right .category-card {
    display: -ms-grid;
    display: grid;
    gap: 25px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #landing_page .category .right .category-card .card {
    padding: 25px;
  }
}

@media only screen and (min-width: 992px) {
  #landing_page .category .left {
    display: block;
  }
}

#landing_page .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 150px;
  position: relative;
}

#landing_page .about .left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

#landing_page .about .left .about-subtitle {
  color: #22c58b;
  font-weight: 600;
  font-size: 1.4rem;
}

#landing_page .about .left .about-title {
  color: #34364a;
  font-size: 2rem;
}

#landing_page .about .left .about-text {
  color: #888888;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 50px;
}

#landing_page .about .left .about-question {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0;
  left: 18rem;
}

#landing_page .about .left .about-question .arrow {
  width: 40%;
}

#landing_page .about .left .about-question .question {
  width: 60%;
  margin-top: 10px;
  margin-left: 80px;
}

#landing_page .about .right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  text-align: end;
  display: none;
}

#landing_page .about .right img {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 992px) {
  #landing_page .about .right {
    display: block;
  }
  #landing_page .about .left .about-question {
    bottom: 2rem;
  }
  #landing_page .about .left .about-text {
    padding-right: 120px;
  }
}

@media only screen and (min-width: 600px) {
  #landing_page .about-question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  #landing_page .about {
    gap: 40px;
  }
}

#landing_page .question .question-header {
  text-align: center;
  margin-bottom: 100px;
}

#landing_page .question .question-header .question-title {
  font-size: 2rem;
  margin: 0 0 10px 0;
  color: #34364a;
}

#landing_page .question .question-header .question-subtitle {
  margin: 0;
  color: #888888;
  font-weight: 400;
}

#landing_page .question .question-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

#landing_page .question .question-body .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#landing_page .question .question-body .card .card-header .detail p {
  margin: 0;
}

#landing_page .question .question-body .card .card-header .detail .question-name {
  font-weight: 600;
}

#landing_page .question .question-body .card .card-header .detail .question-position {
  font-weight: 400;
  color: #888888;
  font-size: 0.8rem;
}

#landing_page .question .question-body .card .card-body {
  margin: 40px 0 60px 0;
}

#landing_page .question .question-body .card .card-body .card-text {
  font-weight: 600;
  font-size: 1.3rem;
  color: #34364a;
}

#landing_page .question .question-body .card .card-footer {
  margin: 30px 0;
}

#landing_page .question .question-footer {
  margin-top: 80px;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  #landing_page .question .question-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#landing_page .review .review-header {
  text-align: center;
  margin-bottom: 100px;
}

#landing_page .review .review-header .review-title {
  font-size: 2rem;
  margin: 0 0 10px 0;
  color: #34364a;
}

#landing_page .review .review-header .review-subtitle {
  margin: 0;
  color: #888888;
  font-weight: 400;
}

#landing_page .review .review-body .splide .splide__arrow {
  display: none;
  background-color: transparent !important;
}

#landing_page .review .review-body .splide .splide__arrow--next {
  right: 2.2rem;
}

#landing_page .review .review-body .splide .splide__arrow--prev {
  left: 2.2rem;
}

#landing_page .review .review-body .card {
  padding: 80px 40px;
  margin: 0 20px;
}

#landing_page .review .review-body .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#landing_page .review .review-body .card .card-body .card-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  text-align: center;
}

#landing_page .review .review-body .card .card-body .card-left .review-rating {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  color: #34364a;
  margin: 0;
}

#landing_page .review .review-body .card .card-body .card-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

#landing_page .review .review-body .card .card-body .card-right .review-icon {
  margin-bottom: 40px;
}

#landing_page .review .review-body .card .card-body .card-right .review-questioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#landing_page .review .review-body .card .card-body .card-right .review-questioner .detail p {
  margin: 0;
}

#landing_page .review .review-body .card .card-body .card-right .review-questioner .detail .question-name {
  font-weight: 600;
}

#landing_page .review .review-body .card .card-body .card-right .review-questioner .detail .question-position {
  font-weight: 400;
  color: #888888;
  font-size: 0.8rem;
}

#landing_page .review .review-body .card .card-body .card-right .review-content {
  font-weight: 400;
  color: #34364a;
}

#landing_page .review .review-footer {
  position: relative;
  text-align: center;
  margin-top: 120px;
}

#landing_page .review .review-footer img {
  position: absolute;
  top: -40px;
  width: 100px;
}

#landing_page .review .review-footer .icon-left {
  left: 0;
}

#landing_page .review .review-footer .icon-right {
  right: 0;
}

#landing_page .review .review-footer .text {
  color: #888888;
  font-size: 0.8rem;
}

@media only screen and (min-width: 600px) {
  #landing_page .review .review-body .card {
    padding: 80px 20px;
  }
  #landing_page .review .review-body .card .card-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #landing_page .review .review-footer img {
    width: 130px;
    top: -50px;
  }
}

@media only screen and (min-width: 992px) {
  #landing_page .review .review-body .splide .splide__arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #landing_page .review .review-body .splide .splide__arrow--next {
    right: 11rem;
  }
  #landing_page .review .review-body .splide .splide__arrow--prev {
    left: 11rem;
  }
  #landing_page .review .review-body .card {
    margin: 0 50px;
  }
}

#question-page {
  width: 100%;
  min-height: 100vh;
  background-color: #f4f6fb;
}

#question-page #question-list {
  width: 100%;
  padding-top: 200px;
}

#question-page #question-list .header {
  text-align: center;
}

#question-page #question-list .header h1 {
  font-size: 2rem;
  margin-top: 16px;
}

#question-page #question-list .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 60px 60px 60px;
}

#question-page #question-list .content .post, #question-page #question-list .content .recommended {
  width: 100%;
}

#question-page #question-list .content .post {
  margin-bottom: 20px;
}

#question-page #question-list .content .post .new-post .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#question-page #question-list .content .post .new-post .card .profile-picture img {
  border-radius: 50%;
  width: 70px;
}

#question-page #question-list .content .post .new-post .card #form-new-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-left: 20px;
  width: 100%;
}

#question-page #question-list .content .post .new-post .card #form-new-post .form-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0;
}

#question-page #question-list .content .post .new-post .card #form-new-post .form-input input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #F3F3F3;
  height: 44px;
  border: 1.8px transparent solid;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-size: 16px;
}

#question-page #question-list .content .post .new-post .card #form-new-post .form-input input:active, #question-page #question-list .content .post .new-post .card #form-new-post .form-input input:focus, #question-page #question-list .content .post .new-post .card #form-new-post .form-input input:focus-visible {
  border: 1.8px #2447f9 solid;
  outline: none;
}

#question-page #question-list .content .post .new-post .card #form-new-post .form-button {
  margin-top: 20px;
  width: 100%;
}

#question-page #question-list .content .post .new-post .card #form-new-post .form-button button {
  width: 100%;
}

#question-page #question-list .content .post .question-post {
  margin-top: 20px;
}

#question-page #question-list .content .post .question-post.detail {
  margin-top: 0;
}

#question-page #question-list .content .post .question-post .card {
  padding: 40px;
}

#question-page #question-list .content .post .question-post .card .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#question-page #question-list .content .post .question-post .card .author .profile-picture img {
  border-radius: 50%;
  width: 70px;
}

#question-page #question-list .content .post .question-post .card .author .detail-profile {
  margin-left: 20px;
}

#question-page #question-list .content .post .question-post .card .author .detail-profile .name {
  margin: 0;
}

#question-page #question-list .content .post .question-post .question-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
}

#question-page #question-list .content .post .question-post .question-footer.detail {
  margin-top: 40px;
  border-bottom: 2px rgba(52, 54, 74, 0.4) solid;
  padding-bottom: 40px;
}

#question-page #question-list .content .post .question-post .question-footer.detail .icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

#question-page #question-list .content .post .question-post .question-footer.detail .icon a img {
  margin-right: 10px;
}

#question-page #question-list .content .post .question-post .question-footer.detail .icon a span {
  display: none;
}

#question-page #question-list .content .post .question-post .question-footer.detail .icon #like.liked {
  color: #FF0000;
}

#question-page #question-list .content .post .question-post .question-footer .rating h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#question-page #question-list .content .post .question-post .question-footer .rating h4 img {
  margin-right: 6px;
}

@media only screen and (min-width: 768px) {
  #question-page #question-list .content .post .question-post .question-footer.detail .icon a span {
    display: block;
  }
}

#question-page #question-list .content .post .question-post .comment {
  margin-top: 40px;
}

#question-page #question-list .content .post .question-post .comment .new-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#question-page #question-list .content .post .question-post .comment .new-comment .profile-picture img {
  border-radius: 50%;
  width: 70px;
}

#question-page #question-list .content .post .question-post .comment .new-comment #form-new-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-left: 20px;
  width: 100%;
}

#question-page #question-list .content .post .question-post .comment .new-comment #form-new-comment .form-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0;
}

#question-page #question-list .content .post .question-post .comment .new-comment #form-new-comment .form-input input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #F3F3F3;
  height: 44px;
  border: 1.8px transparent solid;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#question-page #question-list .content .post .question-post .comment .new-comment #form-new-comment .form-input input:active, #question-page #question-list .content .post .question-post .comment .new-comment #form-new-comment .form-input input:focus, #question-page #question-list .content .post .question-post .comment .new-comment #form-new-comment .form-input input:focus-visible {
  border: 1.8px #2447f9 solid;
  outline: none;
}

#question-page #question-list .content .post .question-post .comment .new-comment #form-new-comment .form-button {
  margin-top: 20px;
  width: 100%;
}

#question-page #question-list .content .post .question-post .comment .new-comment #form-new-comment .form-button button {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  #question-page #question-list .content .post .question-post .comment .new-comment #form-new-comment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #question-page #question-list .content .post .question-post .comment .new-comment #form-new-comment .form-input {
    margin-right: 24px;
  }
  #question-page #question-list .content .post .question-post .comment .new-comment #form-new-comment .form-button {
    width: auto;
    margin-top: 0;
  }
}

#question-page #question-list .content .post .question-post .comment .post-comment {
  margin-top: 40px;
}

#question-page #question-list .content .post .question-post .comment .post-comment .author .profile-picture img {
  width: 60px;
}

#question-page #question-list .content .post .question-post .comment .post-comment .author .detail-profile span {
  font-size: 14px;
}

#question-page #question-list .content .post .question-post .comment .post-comment .text {
  margin-top: 10px;
  line-height: 1.8;
}

#question-page #question-list .content .post .question-post .comment .post-comment .rating {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#question-page #question-list .content .post .question-post .comment .post-comment .rating .star {
  margin-right: 10px;
}

#question-page #question-list .content .post .question-post .comment .post-comment .rating .star img {
  width: 22px;
}

#question-page #question-list .content .post .question-post .comment .post-comment .rating .star-count h3 {
  padding-left: 10px;
  margin: 0;
  color: #ffc700;
}

#question-page #question-list .content .recommended {
  text-align: center;
}

#question-page #question-list .content .recommended .card {
  padding: 40px;
}

#question-page #question-list .content .recommended .card .title {
  border-bottom: 2px #34364a solid;
  padding-bottom: 16px;
  margin: 10px 0;
}

#question-page #question-list .content .recommended .card .list {
  text-align: left;
}

#question-page #question-list .content .recommended .card .list .question {
  display: block;
  margin-top: 34px;
}

#question-page #question-list .content .recommended .card .list .question:hover h3 {
  color: #2447f9;
}

#question-page #question-list .content .recommended .card .list .question .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#question-page #question-list .content .recommended .card .list .question .author .profile-picture img {
  border-radius: 50%;
  width: 70px;
}

#question-page #question-list .content .recommended .card .list .question .author .detail-profile {
  margin-left: 20px;
}

#question-page #question-list .content .recommended .card .list .question .author .detail-profile .name {
  margin: 0;
}

#question-page #question-list .content .recommended .card .list .question h3 {
  margin: 0;
  margin-top: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (min-width: 992px) {
  #question-page #question-list .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #question-page #question-list .content .post {
    width: 68%;
    margin-right: 20px;
  }
  #question-page #question-list .content .post .new-post .card #form-new-post {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #question-page #question-list .content .post .new-post .card #form-new-post .form-input {
    margin-right: 24px;
  }
  #question-page #question-list .content .post .new-post .card #form-new-post .form-button {
    width: auto;
    margin-top: 0;
  }
  #question-page #question-list .content .recommended {
    width: 32%;
  }
}

#profile_page {
  width: 100%;
  background-color: #f4f6fb;
  min-height: 100vh;
}

#profile_page #profile {
  width: 100%;
  padding-top: 200px;
  margin-bottom: 40px;
}

#profile_page #profile .header {
  text-align: center;
  color: #34364a;
}

#profile_page #profile .header h1 {
  font-size: 2rem;
  margin-top: 16px;
}

#profile_page #profile .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px 0 20px;
}

#profile_page #profile .content .left,
#profile_page #profile .content .summary {
  width: 100%;
}

#profile_page #profile .content .left {
  margin-bottom: 20px;
}

#profile_page #profile .content .left .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#profile_page #profile .content .left .card .card-header .detail p {
  margin: 0;
  color: #34364a;
}

#profile_page #profile .content .left .card .card-header .detail .question-name {
  font-weight: 600;
}

#profile_page #profile .content .left .card .card-header .detail .question-position {
  font-weight: 400;
  color: #888888;
  font-size: 0.8rem;
}

#profile_page #profile .content .left .card .card-body {
  margin: 40px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#profile_page #profile .content .left .card .card-body div .counter {
  font-weight: 600;
  font-size: 1.8rem;
  color: #34364a;
  margin: 0;
}

#profile_page #profile .content .left .card .card-body div .title {
  font-weight: 500;
  color: #34364a;
}

#profile_page #profile .content .left .card .card-footer {
  margin: 30px 0;
}

@media only screen and (min-width: 600px) {
  #profile_page #profile .content {
    padding: 20px 60px 0 60px;
  }
}

#profile_page #profile .summary .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#profile_page #profile .summary .tab button {
  border: none;
}

@media only screen and (min-width: 600px) {
  #profile_page #profile .summary .tab {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 992px) {
  #profile_page #profile .summary .tab {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#profile_page #profile .summary .summary-content .tab-content {
  -webkit-animation: fade 1s;
          animation: fade 1s;
  display: none;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#profile_page #profile .summary .summary-content #answer .container,
#profile_page #profile .summary .summary-content #question .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

#profile_page #profile .summary .summary-content #answer .container .card .card-header,
#profile_page #profile .summary .summary-content #question .container .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#profile_page #profile .summary .summary-content #answer .container .card .card-header .detail,
#profile_page #profile .summary .summary-content #question .container .card .card-header .detail {
  max-width: 80%;
}

#profile_page #profile .summary .summary-content #answer .container .card .card-header .detail p,
#profile_page #profile .summary .summary-content #question .container .card .card-header .detail p {
  margin: 0;
  color: #34364a;
}

#profile_page #profile .summary .summary-content #answer .container .card .card-header .detail .question-name,
#profile_page #profile .summary .summary-content #question .container .card .card-header .detail .question-name {
  font-weight: 600;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#profile_page #profile .summary .summary-content #answer .container .card .card-header .detail .question-position,
#profile_page #profile .summary .summary-content #answer .container .card .card-header .detail .position,
#profile_page #profile .summary .summary-content #question .container .card .card-header .detail .question-position,
#profile_page #profile .summary .summary-content #question .container .card .card-header .detail .position {
  font-weight: 400;
  color: #888888;
  font-size: 0.8rem;
}

#profile_page #profile .summary .summary-content #answer .container .card .card-header .detail .position,
#profile_page #profile .summary .summary-content #question .container .card .card-header .detail .position {
  margin: 0 5px;
}

@media only screen and (min-width: 600px) {
  #profile_page #profile .summary .summary-content #answer .container .card .card-header .detail,
  #profile_page #profile .summary .summary-content #question .container .card .card-header .detail {
    max-width: 90%;
  }
}

#profile_page #profile .summary .summary-content #answer .container .card .card-body,
#profile_page #profile .summary .summary-content #question .container .card .card-body {
  margin: 20px 0;
  text-align: left;
}

#profile_page #profile .summary .summary-content #answer .container .card .card-body .card-text,
#profile_page #profile .summary .summary-content #question .container .card .card-body .card-text {
  color: #34364a;
  font-weight: 500;
  font-size: 1rem;
}

#profile_page #profile .summary .summary-content #answer .container .card .card-footer,
#profile_page #profile .summary .summary-content #question .container .card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile_page #profile .summary .summary-content #answer .container .card .card-footer div,
#profile_page #profile .summary .summary-content #question .container .card .card-footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

#profile_page #profile .summary .summary-content #question .container .card .card-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile_page #profile .summary .summary-content #question .container .card .card-footer a .text {
  color: #888888;
  font-size: 0.9rem;
}

#profile_page #profile .summary .summary-content #review .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

#profile_page #profile .summary .summary-content #review .container .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#profile_page #profile .summary .summary-content #review .container .card .card-header .detail {
  max-width: 80%;
}

#profile_page #profile .summary .summary-content #review .container .card .card-header .detail p {
  margin: 0;
  color: #34364a;
}

#profile_page #profile .summary .summary-content #review .container .card .card-header .detail .question-name {
  font-weight: 600;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#profile_page #profile .summary .summary-content #review .container .card .card-header .detail .question-position,
#profile_page #profile .summary .summary-content #review .container .card .card-header .detail .position {
  font-weight: 400;
  color: #888888;
  font-size: 0.8rem;
}

#profile_page #profile .summary .summary-content #review .container .card .card-header .detail .position {
  margin: 0 5px;
}

@media only screen and (min-width: 600px) {
  #profile_page #profile .summary .summary-content #review .container .card .card-header .detail {
    max-width: 90%;
  }
}

#profile_page #profile .summary .summary-content #review .container .card .card-body {
  margin: 20px 0;
  text-align: left;
}

#profile_page #profile .summary .summary-content #review .container .card .card-body .card-text {
  color: #34364a;
  font-weight: 500;
  font-size: 1rem;
}

#profile_page #profile .summary .summary-content #review .container .card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 600px) {
  #profile_page #profile .summary .summary-content #review .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  #profile_page #profile .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
  }
  #profile_page #profile .content .left {
    width: 35%;
  }
  #profile_page #profile .content .summary {
    width: 65%;
  }
}

#auth {
  width: 100%;
  min-height: 100vh;
  background-color: #f4f6fb;
}

#auth section {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

#auth section .left {
  width: 50%;
  background-image: url("../img/auth.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#auth section .left .title {
  font-size: 2.3rem;
  color: #ffffff;
}

#auth section .left .subtitle {
  color: #ffffff;
  font-size: 1.2rem;
  width: 60%;
}

#auth section .right {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

#auth section .right .card {
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 40px;
}

#auth section .right .card .card-header .card-title {
  font-size: 1.8rem;
  color: #34364a;
  font-weight: 600;
  margin-top: 0;
}

#auth section .right .card .card-header .card-subtitle {
  color: #888888;
}

#auth section .right .card .card-body .form-group {
  display: block;
  margin: 20px 0;
}

#auth section .right .card .card-body .form-group .form-label {
  font-size: 0.9rem;
  color: #34364a;
  display: block;
  font-size: 400;
  margin-bottom: 5px;
}

#auth section .right .card .card-body .form-group .form-input {
  padding: 13px 20px;
  background-color: #f4f6fb;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 50px;
}

#auth section .right .card .card-body .form-group .form-input:focus {
  outline: 1px solid #2447f9;
}

#auth section .right .card .card-body .btn {
  width: 100%;
}

#auth section .right .card .card-footer .card-text {
  font-weight: 400;
  color: #888888;
  text-align: center;
}

#auth section .right .card .card-footer .card-links {
  color: #2447f9;
}

@media only screen and (min-width: 600px) {
  #auth section .right .card {
    width: 60%;
  }
}

@media only screen and (min-width: 992px) {
  #auth section .left {
    display: block;
  }
  #auth section .right {
    width: 50%;
  }
  #auth section .right .card {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  #auth section .right .card {
    width: 60%;
  }
}

#navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

#navbar #nav-content {
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#navbar #nav-content .nav-menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar #nav-content .nav-menu .nav-item {
  margin: 0 32px;
  font-size: 18px;
}

#navbar #nav-content .nav-menu .nav-item a {
  color: rgba(52, 54, 74, 0.6);
  -webkit-transition: all .4s;
  transition: all .4s;
}

#navbar #nav-content .nav-menu .nav-item a:hover {
  color: #34364a;
}

#navbar #nav-content .nav-menu .nav-item.active a {
  font-weight: 600;
  color: #2447f9;
}

#navbar #nav-content .nav-search {
  display: none;
}

#navbar #nav-content .nav-search .form-search {
  position: relative;
}

#navbar #nav-content .nav-search .form-search input {
  padding: 14px 38px 14px 18px;
  border: 1.8px rgba(36, 71, 249, 0.6) solid;
  border-radius: 30px;
  font-size: 16px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#navbar #nav-content .nav-search .form-search input:active, #navbar #nav-content .nav-search .form-search input:focus, #navbar #nav-content .nav-search .form-search input:focus-visible {
  border: 1.8px #2447f9 solid;
  outline: none;
}

#navbar #nav-content .nav-search .form-search button {
  position: absolute;
  right: 7px;
  top: 7px;
  background-color: #2447f9;
  border: none;
  padding: 8px 10px 6px 9px;
  border-radius: 50%;
}

#navbar #nav-content .nav-search .form-search button img {
  width: 16px;
}

#navbar #nav-content .nav-toggle {
  display: block;
}

#navbar #nav-content .nav-toggle button {
  background: none;
  border: none;
}

#navbar #nav-content.mobile-toggled {
  background-color: #ffffff;
}

#navbar #nav-content.mobile-toggled .nav-menu {
  background-color: #ffffff;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  top: 100px;
  left: 0;
}

#navbar #nav-content.mobile-toggled .nav-menu .nav-item {
  padding-bottom: 20px;
}

#navbar #nav-content.mobile-toggled .nav-search {
  display: block;
  background-color: #ffffff;
}

#navbar #nav-content.mobile-toggled .nav-search .form-search {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  top: 286px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

#navbar #nav-content.mobile-toggled .nav-search .form-search input {
  width: 100%;
  margin: 0 60px;
}

#navbar #nav-content.mobile-toggled .nav-search .form-search button {
  right: 72px;
}

@media only screen and (min-width: 1200px) {
  #navbar #nav-content .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #navbar #nav-content .nav-search {
    display: block;
  }
  #navbar #nav-content .nav-toggle {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  #navbar #nav-content {
    padding: 20px 60px;
  }
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
}

.card .card-header {
  margin: 0 0 8px 0;
}

.card .card-header .card-title {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 5px 0;
}

.card .card-body .card-text {
  margin: 0;
  font-weight: 400;
  font-size: 0.9rem;
}

.card-shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(52, 54, 74, 0.1);
          box-shadow: 10px 10px 5px 0px rgba(52, 54, 74, 0.1);
}

.btn {
  border-radius: 50px;
  padding: 13px 63px;
  border: none;
}

.btn-sm {
  border-radius: 50px;
  padding: 10px 40px;
}

.btn-secondary {
  background-color: rgba(252, 122, 70, 0.1);
  color: #fc7a46;
}

.btn-primary {
  background-color: #2447f9;
  color: #ffffff;
}

.btn-netral {
  border: 1px solid #2447f9;
  color: #2447f9;
}

.btn-md {
  border-radius: 50px;
  padding: 12px 50px;
}

.btn-question {
  background-color: rgba(36, 71, 249, 0.1);
  color: #2447f9;
}

.footer {
  background-image: url("../img/footer.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin-top: 140px;
}

.footer .center .title {
  font-size: 2.3rem;
  position: relative;
  margin-bottom: 70px;
}

.footer .center .title::after {
  content: " ";
  position: absolute;
  bottom: -25px;
  left: 35%;
  right: -35%;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  background-color: #ffffff;
}

.footer .center a {
  display: inline-block;
}

.footer .bottom {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: -30px;
}

.footer .bottom .left {
  margin-bottom: 10px;
}

.footer .bottom .left h2 {
  margin-bottom: 5px;
}

.footer .bottom .left .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .bottom .right p {
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .footer .bottom {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .footer .bottom .left a:first-of-type {
    margin-left: 0 !important;
  }
  .footer .bottom .left a {
    margin: 0 20px;
  }
  .footer .bottom .right p {
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
}

::-moz-selection {
  background-color: #fc7a46;
  color: #2447f9;
}

::selection {
  background-color: #fc7a46;
  color: #2447f9;
}

a {
  text-decoration: none;
  color: #34364a;
}

button {
  cursor: pointer;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
}

.text-muted {
  color: rgba(52, 54, 74, 0.6);
}
/*# sourceMappingURL=main.css.map */