$breakpoint-xs: "only screen and (min-width: 600px)";

$breakpoint-sm: "only screen and (min-width: 768px)";

$breakpoint-md: "only screen and (min-width: 992px)";

$breakpoint-lg: "only screen and (min-width: 1200px)";

$breakpoint-xl: "only screen and (min-width: 1400px)";