$dark-color: #34364a;
$grey-color: #888888;
$light-color: #ffffff;

$background-color: #f4f6fb;

$primary-color: #2447f9;
$secondary-color: #fc7a46;
$warning-color: #ffc700;
$success-color: #22c58b;

$colors: (
	"primary": $primary-color,
	"secondary": $secondary-color,
	"warning": $warning-color,
	"success": $success-color,
	"dark": $dark-color,
	"light": $light-color,
	"grey": $grey-color,
);

@each $name, $hex in $colors {
	.text-#{$name} {
		color: $hex;
	}
}
